.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-c46aa47:after{content:"1";}.elementor-689 .elementor-element.elementor-element-c46aa47{--grid-column-gap:5px;--grid-row-gap:5px;}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__title, .elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-edbeab0:after{content:"1";}.elementor-689 .elementor-element.elementor-element-edbeab0{--grid-column-gap:0px;--grid-row-gap:0px;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__title, .elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.6 * 100% );}.elementor-689 .elementor-element.elementor-element-47478ae:after{content:"0.6";}.elementor-689 .elementor-element.elementor-element-47478ae{--grid-column-gap:30px;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__title, .elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.6 * 100% );}.elementor-689 .elementor-element.elementor-element-074e4ac:after{content:"0.6";}.elementor-689 .elementor-element.elementor-element-074e4ac{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__title, .elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-78a1584:after{content:"1";}.elementor-689 .elementor-element.elementor-element-78a1584{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__title, .elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1.105 * 100% );}.elementor-689 .elementor-element.elementor-element-a4a50ed:after{content:"1.105";}.elementor-689 .elementor-element.elementor-element-a4a50ed{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__title, .elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1.84 * 100% );}.elementor-689 .elementor-element.elementor-element-12c30e7:after{content:"1.84";}.elementor-689 .elementor-element.elementor-element-12c30e7{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__card{border-color:#DDDDDD;border-width:1px;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__card .elementor-post__meta-data{border-top-color:#02010100;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__text{margin-top:20px;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__title, .elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__title a{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}@media(max-width:959px){.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1.11 * 100% );}.elementor-689 .elementor-element.elementor-element-a4a50ed:after{content:"1.11";}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1.88 * 100% );}.elementor-689 .elementor-element.elementor-element-12c30e7:after{content:"1.88";}}@media(min-width:768px){.elementor-689 .elementor-element.elementor-element-b44f118{width:39%;}.elementor-689 .elementor-element.elementor-element-787669e{width:39%;}.elementor-689 .elementor-element.elementor-element-fcc8a46{width:21.664%;}}@media(max-width:767px){.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-c46aa47:after{content:"1";}.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__title, .elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__title a{font-size:14px;}.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-edbeab0:after{content:"1";}.elementor-689 .elementor-element.elementor-element-47478ae .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-47478ae:after{content:"1";}.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-074e4ac:after{content:"1";}.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-78a1584:after{content:"1";}.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-a4a50ed:after{content:"1";}.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-689 .elementor-element.elementor-element-12c30e7:after{content:"1";}}/* Start custom CSS for posts, class: .elementor-element-c46aa47 */.elementor-689 .elementor-element.elementor-element-c46aa47 {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

@media screen and (max-width: 600px) {

    .elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__card .elementor-post__meta-data,
    .elementor-689 .elementor-element.elementor-element-c46aa47 .elementor-post__card .elementor-post__text {
        padding: 0 5px;
    }
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-edbeab0 */.elementor-689 .elementor-element.elementor-element-edbeab0 {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-edbeab0 .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-47478ae */.elementor-689 .elementor-element.elementor-element-47478ae {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-47478ae .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-074e4ac */.elementor-689 .elementor-element.elementor-element-074e4ac {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-074e4ac .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-78a1584 */.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-78a1584 .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-a4a50ed */.elementor-689 .elementor-element.elementor-element-a4a50ed {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-a4a50ed .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-12c30e7 */.elementor-689 .elementor-element.elementor-element-12c30e7 {
    margin-bottom: 12px;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__thumbnail__link {
    margin-bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__thumbnail img {
    height: 100% !important;
    max-width: none !important;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__text,
.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data {
    position: absolute;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data {
    border: none;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data .elementor-post-date::after{
    content: "]";
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data .elementor-post-date::before {
    content: "[";
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__text {
    background: rgba(0,139,50, 0.75);
    bottom: 0;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__meta-data {
    bottom: 35px;
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__text .elementor-post__title {
    margin-top: 40px;
    margin-bottom: 20px
}

.elementor-689 .elementor-element.elementor-element-12c30e7 .elementor-post__text .elementor-post__title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-388eeed */.elementor-689 .elementor-element.elementor-element-388eeed a.elementor-post__thumbnail__link {
    transition: transform 0.4s;
}

.elementor-689 .elementor-element.elementor-element-388eeed a.elementor-post__thumbnail__link:hover {
    transform: scale(1.2);
}/* End custom CSS */