.elementor-382 .elementor-element.elementor-element-c5cecb9 > .elementor-background-overlay{background-color:#6CB532;opacity:1;}.elementor-382 .elementor-element.elementor-element-369ca7b{text-align:right;}.elementor-382 .elementor-element.elementor-element-369ca7b .elementor-heading-title{color:#000000;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:500;}.elementor-382 .elementor-element.elementor-element-369ca7b > .elementor-widget-container{padding:10px 0px 10px 0px;}.elementor-382 .elementor-element.elementor-element-0b44a7c{margin-top:15px;margin-bottom:0px;}.elementor-382 .elementor-element.elementor-element-8dec4dc{text-align:left;width:auto;max-width:auto;align-self:center;}.elementor-382 .elementor-element.elementor-element-2c5b00f{width:auto;max-width:auto;align-self:center;}.elementor-382 .elementor-element.elementor-element-d35a1c5 .elementor-menu-cart__toggle{text-align:center;}.elementor-382 .elementor-element.elementor-element-d35a1c5 .elementor-menu-cart__toggle .elementor-button{color:#252525;background-color:#FACA2B;border-color:#02010100;border-width:0px;border-radius:30px;}.elementor-382 .elementor-element.elementor-element-d35a1c5 .elementor-menu-cart__toggle .elementor-button-icon{font-size:18px;}body:not(.rtl) .elementor-382 .elementor-element.elementor-element-d35a1c5 .elementor-menu-cart__toggle .elementor-button-text{margin-right:10px;}body.rtl .elementor-382 .elementor-element.elementor-element-d35a1c5 .elementor-menu-cart__toggle .elementor-button-text{margin-left:10px;}.elementor-382 .elementor-element.elementor-element-d35a1c5{width:auto;max-width:auto;align-self:flex-start;}.elementor-382 .elementor-element.elementor-element-48bcf28 .elementor-menu-toggle{margin-left:auto;}body:not(.rtl) .elementor-382 .elementor-element.elementor-element-48bcf28{right:-3px;}body.rtl .elementor-382 .elementor-element.elementor-element-48bcf28{left:-3px;}.elementor-382 .elementor-element.elementor-element-48bcf28{top:22px;}.elementor-382 .elementor-element.elementor-element-f728663{--divider-border-style:solid;--divider-color:#D6D6D6;--divider-border-width:1px;}.elementor-382 .elementor-element.elementor-element-f728663 .elementor-divider-separator{width:100%;}.elementor-382 .elementor-element.elementor-element-f728663 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-382 .elementor-element.elementor-element-f728663 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-382 .elementor-element.elementor-element-e5bbd37{box-shadow:0px 10px 10px 0px rgba(0,0,0,0.5);margin-top:-2px;margin-bottom:0px;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-menu-toggle{margin-left:auto;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu .elementor-item{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item{color:#323131;padding-left:25px;padding-right:25px;padding-top:8px;padding-bottom:8px;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item:focus{color:#FFFEFE;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFEFE;}body:not(.rtl) .elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:10px;}body.rtl .elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:10px;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:10px;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a, .elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-menu-toggle{color:#323131;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a:hover,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-menu-toggle:hover{color:#FFFEFE;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a:hover,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a.highlighted{background-color:#008B32;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a.elementor-item-active{color:#FFFFFF;background-color:#008B32;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown .elementor-item, .elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-382 .elementor-element.elementor-element-e249cf6 .elementor-nav-menu--dropdown a{padding-top:8px;padding-bottom:8px;}.elementor-382 .elementor-element.elementor-element-e249cf6 > .elementor-widget-container{padding:8px 0px 8px 80px;}@media(max-width:959px){.elementor-382 .elementor-element.elementor-element-369ca7b{text-align:center;}.elementor-382 .elementor-element.elementor-element-8dec4dc{text-align:center;width:100%;max-width:100%;align-self:center;}.elementor-382 .elementor-element.elementor-element-8dec4dc > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-382 .elementor-element.elementor-element-2c5b00f{width:initial;max-width:initial;}.elementor-382 .elementor-element.elementor-element-d35a1c5 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-382 .elementor-element.elementor-element-d35a1c5{width:100%;max-width:100%;}.elementor-382 .elementor-element.elementor-element-48bcf28{width:auto;max-width:auto;top:25px;}body:not(.rtl) .elementor-382 .elementor-element.elementor-element-48bcf28{right:15px;}body.rtl .elementor-382 .elementor-element.elementor-element-48bcf28{left:15px;}}@media(max-width:767px){.elementor-382 .elementor-element.elementor-element-8dec4dc{text-align:center;}.elementor-382 .elementor-element.elementor-element-8dec4dc img{width:80%;}body:not(.rtl) .elementor-382 .elementor-element.elementor-element-48bcf28{right:5px;}body.rtl .elementor-382 .elementor-element.elementor-element-48bcf28{left:5px;}.elementor-382 .elementor-element.elementor-element-48bcf28{top:10px;}}/* Start custom CSS for heading, class: .elementor-element-369ca7b */.elementor-382 .elementor-element.elementor-element-369ca7b a.action-link {
    padding-right: 15px;
    padding-left: 15px;
}

.elementor-382 .elementor-element.elementor-element-369ca7b a.action-link:last-child {
    padding-right: 0;
}

.elementor-382 .elementor-element.elementor-element-369ca7b a.action-link:hover {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-2c5b00f */.elementor-382 .elementor-element.elementor-element-2c5b00f {
    height: 60px;
    margin: auto;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f .elementor-search-form__container {
    background: none;
    min-height: auto;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f select {
    width: 35%;
    height: 35px;
    border: 2px solid #dcdcdc;
    border-right: none;
    border-radius: 30px 0px 0px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #373737;
    margin-bottom: 0;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f select optgroup { font-size: 14px; 
}

.elementor-382 .elementor-element.elementor-element-2c5b00f input[type=search] {
    height: 35px;
    font-size: 14px;
    padding-left: 10px;
    border: 2px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-radius: 0px 30px 
    30px 0px;
    color: #373737;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f button.elementor-search-form__submit {
    position: absolute;
    background: none;
    right: 0px;
    top: 0px;
    height: 35px;
    width: 35px;
    padding: initial;
    border-radius: 0px 30px 30px 0;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f button.elementor-search-form__submit i {
    color: #00a650;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f button:hover {
    background: #00a650 !important;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f button:hover i {
    color: #fff;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f .popular-tags p {
    padding-left: 14px;
    font-size: 12px;
}

.elementor-382 .elementor-element.elementor-element-2c5b00f .popular-tags p a {
    color: #00903b;
}/* End custom CSS */
/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-d35a1c5 */.elementor-382 .elementor-element.elementor-element-d35a1c5 {
    margin-left: auto;
    right: 0;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 a {
    font-weight: 500;
    min-width: 150px;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 a i.eicon {
    font-weight: 700;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 a span.elementor-button-text {
    order: 2;
    padding-left: 15px;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 a span.elementor-button-icon {
    order: 1;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 .widget_shopping_cart_content img {
    max-width: 70px;
    height: auto;
}

.elementor-382 .elementor-element.elementor-element-d35a1c5 a.elementor-button {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-48bcf28 */.elementor-382 .elementor-element.elementor-element-48bcf28 {
    z-index: 9999;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-e249cf6 */.elementor-382 .elementor-element.elementor-element-e249cf6 a.highlighted,
.elementor-382 .elementor-element.elementor-element-e249cf6 a.elementor-item-active,
.elementor-382 .elementor-element.elementor-element-e249cf6 a:hover,
.elementor-382 .elementor-element.elementor-element-e249cf6 li.current-menu-parent a.has-submenu {
    background: #008b32;
    color: #fffefe;
}

.elementor-382 .elementor-element.elementor-element-e249cf6 a {
    border-radius: 30px;
}/* End custom CSS */
/* Start custom CSS */.elementor-382 {
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #ffffff;*/
}/* End custom CSS */